
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
#footer ul li{
display:inline-flex;

text-decoration: none ;
}
#footer li a{
color: white;
padding: 10px;
}

#card2 {
border: 2px rgb(26, 177, 127) solid;
border-radius: 20px;
}
#card2 .btn{
border-radius: 20px;
}

#card3 .btn{
border-radius: 20px;
}

#card3 {
border: 2px rgb(26, 177, 127) solid;
border-radius: 20px;
}
.search_icon {
margin-left: -8px;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}

.search_bar {
border-top-right-radius: 0;
border-top-left-radius: 12px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 0;

}

.header h1{
    color: aliceblue;
    font-family: 'Sono', sans-serif; 

}
#navbarSupportedContent{
    font-family: 'Montserrat', sans-serif;
    font-size:13px;
    font-weight: bold;
}
.dropdown-menu .dropdown-item{
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
  }
.search_bar{
    font-family: 'Sono', sans-serif;
  }
  #lastepisodes #h4{
    font-family: 'Sono', sans-serif; 
    font-size:35px;
    letter-spacing: 0;
   
  }

  #lastepisodes #card2 #sub{
    font-family: 'Sono', sans-serif; 
} 
#lastepisodes #clock{
    color: rgb(26, 177, 127);
}

#card2 #sub1{
    font-family: 'Sono', sans-serif; 
    font-weight: bolder;
    color: rgb(26, 177, 127);
}


#card3 #sub1{
  font-family: 'Sono', sans-serif; 
  font-weight: bolder;
  color: rgb(26, 177, 127);
}
#icon a{
    color: rgb(26, 177, 127);
    text-decoration: none;
}
#icon span{
    color: black;
}
#clock #span{
    font-family: 'Sono', sans-serif; 
    color: rgb(19, 16, 16);
}
#bage{
    font-family: 'Sono', sans-serif; 
    
}
#infu{
    font-family: 'Sono', sans-serif; 
}
#card2 #para{
    font-family: 'Montserrat', sans-serif;
}

#footer h3{
    color:rgb(26, 177, 127);
    
    position: absolute;
    font-family: 'Sono', sans-serif; 
    background-color: white;
    border-radius: 20px;  
  }

#contact{
   
    font-family: 'Sono', sans-serif; 
}
#down{
   
    font-family: 'Sono', sans-serif; 
}

#footer a{
    text-decoration: none;
}

#footer #submit{
    font-family: 'Sono', sans-serif; 
    color: rgb(26, 177, 127);
     font-weight: bold;
     font-size: 20px;
}
#footer #Email{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

#card5 h1{
    font-family: 'Sono', sans-serif; 
}
#card5 .card{
    background-color: #f0f8ff;
}
#card5 .card h6{
    font-family: 'Sono', sans-serif; 
    font-weight: bolder;
}
#card5 .card p{
    font-family: 'Montserrat', sans-serif;
}
#card5 .row i{
  color:rgb(26, 177, 127);
}
#footer  .icon li{
    display:inline-flex;
    background-color: #076dc6;
    text-decoration: none ;
    border-radius: 100px;
}
#card5 h5{
    color: rgb(26, 177, 127);
    font-family: 'Sono', sans-serif;
  }
    

 
  /* #search{
    border: 2px solid;
    border-radius: 20px;
    top:125px;
    padding: 20px;
    position:relative;
    width: 80%;
  } */
  #search input{
    border-radius: 10px  10px 0 0px;
    }
    #search button{
    border-radius: 0px  0px 20px 20px;
    }
    #lastepisodes #h4{
        background-color:#f0f8ff; 
        display:inline; 
        border-radius: 20px;
        padding:5px;
        
    }
    #card5 h2{
        background-color:#f0f8ff; 
        display:inline; 
        border-radius: 20px;
        padding:3px
    }
    #box{
        position: relative;
        height:200px;
        
      }
      #submit{
        margin-right: 100px;
      }
      
      #box #submit{
      color: white;
      border-radius:0 0 10px  10px ;
      }
      .header .nav-item a:hover{
        color: #076dc6;
        }
        
        .header .nav-link{
          color:white;
          }
        
 .header #nav1 {
            color: #076dc6;
            }       
  body{
                cursor: pointer;
              }       
            
            #lastepisodes #cd2 #card2:hover{
            box-shadow: 10px 10px 10px 10px lightgrey;
            border-radius: 20px;
            transition: 1s;
            border:1px white solid;
            }
           
            #lastepisodes #cd3 #card3:hover{
             box-shadow: 10px 10px 10px 10px lightgrey;
             border-radius: 20px;
             transition: 1s;
             border:1px white solid;
      
      
            }           

            #footer  #submit{
                background-color:#076dc6;
           }
          
       
           #footer  #submit:hover{
             background-color:rgb(26, 177, 127);
        }
        #footer  .icon li:hover{
            background-color: rgb(26, 177, 127);
       
            
        }

        #card5 #cd1:hover{
            border: 1px solid rgb(26, 177, 127);
            box-shadow: 10px 10px 10px 10px lightgrey;
            background-color: white;
            transition: 1s;
            
            }
           
            #card5 #cd2:hover{
             border: 1px solid rgb(26, 177, 127);
             box-shadow: 10px 10px 10px 10px lightgrey;
             background-color: white;
             transition: 1s;
             
             }
            
           
             #card5 #cd3:hover{
               border: 1px solid rgb(26, 177, 127);
               box-shadow: 10px 10px 10px 10px lightgrey;
               background-color: white;
               transition: 1s;
               
               }

               
     .pagination a:hover{
        background-color: #076dc6;
        color: white;
        
  }

  #footer1{
    padding-top:8%;
  }
  
  
  
 